body
{
    height: 100vh;
    display: grid;
    place-items: center;
}
.colorBox {
    width: 200px;
    height: 200px;
border-radius: 1rem;
    transition: all 0.3s ease;
    border: 2px solid black;
}

.container {
  width: 300px;
  height: 300px;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}