*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(57, 159, 25);
}
.loader
{
    height: 6em;
    width: 6em;
    display: flex;
    justify-content: space-around;
}

.loader .ball
{
    width: 1em;
    height: 1em;
    margin: 10px;
    background: #fff;
    border-radius: 50%;
    animation: loading 0.5s linear infinite ;
}

@keyframes loading
{
    0%
    {
        transform: translateY(0) scale(1,1);
    }
    45%
    {
        transform: translateY(5em) scale(1,1);
        animation-timing-function: linear;
    }
    50%
    {
        transform: translateY(5em) scale(1.5,0.5);
        animation-timing-function: linear;

    }
    55%
    {
        transform: translateY(5em) scale(1,1);
        animation-timing-function: linear;
    }
}